<nav class="navbar navbar-expand-lg navbar-light pt-3 pb-2">
    <div class="container">
      <a class="navbar-brand fw-bold" href="#">Cinta Coding</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fw-bold px-4 text-white btnLogin bg-danger" *ngIf="isLogout" (click)="logout()" aria-current="page" routerLink="/login">Logout</a>
            <a class="nav-link active fw-bold px-4 text-white btnLogin" *ngIf="isLogin" aria-current="page" routerLink="/login">Login</a>
          </li>
          <li class="nav-item dropdown" *ngIf="isLogout">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="fw-bold">Welcome</span> {{ getUser.name }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/detail-profile/{{ getUser.id }}">Detail Profile</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>